<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.zjut.androiddeveloper_ailaiziciqi.Calendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".CalendarImpl.smsdetail.SmsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarImpl.add.SendSmsActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarImpl.search.SmsSearchActivity"
            android:exported="false" /> <!-- <activity android:name=".MainActivity"> -->
        <activity
            android:name=".CalendarImpl.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarImpl.add.AddScheduleActivity"
            android:exported="true"
            android:label="@string/title_activity_add_schedule" />
        <activity
            android:name=".DailyCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarImpl.mix.MixActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".CalendarActivity" />

        <receiver android:name="SmsReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>